			
								<div class="cols--group">
									<div class="panel__body">
										<div class="box box--white box--space">
											<div class="box__head box__head--large">
												<h5>{{'notificationpage.notifications'| translate}}</h5>
											</div>
											<div class="box__body">
												<div class="form__cover nopadding--bottom">
													<form name="frmMessageSrch" method="post" class="form">
														<div class="row">
															<div class="col-sm-6 col-md-8">
																<div class="field-set">
																	<div class="caption-wraper">
																		<label class="field_label"></label>
																	</div>
																	<div class="field-wraper">
																		<div class="field_cover">
																			<input placeholder="Keyword" title="Keyword" name="keyword" value="" type="text">
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-3 col-md-2 odrr-btn">
																<div class="field-set">
																	<div class="caption-wraper">
																		<label class="field_label"></label>
																	</div>
																	<div class="field-wraper">
																		<div class="field_cover">
																			<input class="btn--block" title="" name="btn_submit" value="Search" type="submit">
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-3 col-md-2 odrr-btn">
																<div class="field-set">
																	<div class="caption-wraper">
																		<label class="field_label"></label>
																	</div>
																	<div class="field-wraper">
																		<div class="field_cover">
																			<input  class="btn--block" title="" name="btn_clear" value="Clear" type="button">
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</form>	
												</div>
												<div class="messageListing">
													<div class="row notfi-wrap clearfix">
														<div class="col-md-2 notifi-img">
															<img src="assets/images/audio1.png" alt="audio1" title="audio"/>
														</div>
														
														<div class="col-md-10 notifi-content">
															<p>
																Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
															</p>
															<span class="notifi-date">
																23 March 2018
															</span>
															
														</div>
														
													</div>
													<div class="row notfi-wrap">
														<div class="col-md-2 notifi-img">
															<img src="assets/images/audio2.png" alt="audio2" title="audio2" />
														</div>
														
														<div class="col-md-10 notifi-content">
															<p>
																Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
															</p>
															<span class="notifi-date">
																23 March 2018
															</span>
															
														</div>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
					
			<!--Content Section End-->

			

	

		
			

	
	
		



























<!--Content Area Start-->
<!-- <div id="Content">
	<div class="ds__container">
		<app-user-header></app-user-header>
			<div class="ds__tab" id="ds__tabs">
				 <div class="ds__notification-wrap">
					<div class="ds__tab__tab-content__tittle clearfix">
						<h2>{{'notificationpage.notifications'| translate}}</h2>
						<a href="">{{'notificationpage.clearall'| translate}}</a>
					</div>
					<ul>
						<li>
							<span class="ds__notification-wrap__shape"> <i class="ds__icon-percent"></i> </span>
							<div class="ds__notification-wrap__info">
								<h3>Get 10% Discount on Purchase with us</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
									nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</li>
						<li>
							<span class="ds__notification-wrap__shape"> <i class="ds__icon-right"></i> </span>
							<div class="ds__notification-wrap__info">
								<h3>Order Successful</h3>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi architecto beatae vitae dicta sunt explicabo
								</p>
							</div>
						</li>
						<li class="ds__notification-wrap__unread">
							<span class="ds__notification-wrap__shape"> <i class="ds__icon-percent"></i> </span>
							<div class="ds__notification-wrap__info">
								<h3>Get 10% Discount on Purchase with us</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
									nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</li>
						<li class="ds__notification-wrap__unread">
							<span class="ds__notification-wrap__shape"> <i class="ds__icon-right"></i> </span>
							<div class="ds__notification-wrap__info">
								<h3>Order Successful</h3>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi architecto beatae vitae dicta sunt explicabo
								</p>
							</div>
						</li>
						<li class="ds__notification-wrap__unread">
							<span class="ds__notification-wrap__shape"> <i class="ds__icon-percent"></i> </span>
							<div class="ds__notification-wrap__info">
								<h3>Get 10% Discount on Purchase with us</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
									nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</li>
						<li class="ds__notification-wrap__unread">
							<span class="ds__notification-wrap__shape"> <i class="ds__icon-percent"></i> </span>
							<div class="ds__notification-wrap__info">
								<h3>Get 10% Discount on Purchase with us</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
									nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</li>
						<li class="ds__notification-wrap__unread">
							<span class="ds__notification-wrap__shape"> <i class="ds__icon-right"></i> </span>
							<div class="ds__notification-wrap__info">
								<h3>Order Successful</h3>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi architecto beatae vitae dicta sunt explicabo
								</p>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div> -->
	<!--Content Area End-->