<!--<div style="text-align:center">
	<h2>Welcome in Crestellar</h2>
	</div>-->
	
		<!--Content Area Start-->
		<div id="Content">
			<div class="container"> 
			<div class="ds__container">
					<!--<app-user-header></app-user-header>-->
				<div class="ds__tab" id="ds__tabs">
					<div class="ds__tab__tab-content ds__tab__tab-content--account">  
						<div class="ds__tab__tab-content__tittle pass-title clearfix">
							<h2>{{'siteLabels.changePassword'| translate}}</h2>
						</div>												
						<form #profileForm = "ngForm">								
							<div class="ds__tab__change-password" >
								<!-- <div class="ds__tab__tab-content__tittle ds__tab__tab-content__order-list__change-pass clearfix">
									<h2>Change Password</h2>
								</div> -->
								<div class="chnge-wrap row">
																									
									<!--<div class="ds__tab__form-element ds__tab__form-element--pass col-md-4 col-sm-3">
									<label for="ds__currentpassword"> Current Password <i class="ds__required_star">*</i> </label>
									<input type="password"  name="current_password" #current_password="ngModel" [(ngModel)]="userData.current_password" id="ds__password" required/>
								    <div class="field-error" *ngIf = "current_password['errors'] && userData['change_password']==1">
										<p class="field-error" *ngIf = "current_password['errors']['required'] && isFormSubmit && !userData.current_password ">{{'error.current_password.required' | translate}} </p>
									 </div> 
								</div>-->																																							
								<div class="ds__tab__form-element ds__tab__form-element--pass col-md-6 col-sm-6 col-xs-12">
									<label for="ds__new_pass"> {{'siteLabels.newPassword'| translate}} <i class="ds__required_star">*</i> </label>
									<input type="password" name="password" #password="ngModel" minlength = "8" maxlength = "12" [(ngModel)]="userData.password" id="ds__new_pass" required/>
									<div class="field-error" *ngIf = "password['errors']">
										<p class="field-error" *ngIf = "password['errors']['required'] && isFormSubmit ">{{'error.password.required' | translate}} </p>
										<p class="field-error" *ngIf = "password['errors']['minlength'] && isFormSubmit">{{'error.password.minLength' | translate}} </p>
										<p class="field-error" *ngIf = "password['errors']['maxlength'] && isFormSubmit">{{'error.password.maxLength' | translate}} </p>
									</div> 
								</div>
								<div class="ds__tab__form-element ds__tab__form-element--pass col-md-6 col-sm-6 col-xs-12">
									<label for="ds__confirm_pass"> {{'siteLabels.confirmNewPassword'| translate}} <i class="ds__required_star">*</i> </label>
									<input type="password"  minlength = "8" maxlength = "12" #confirm_password="ngModel" name="confirm_password" [(ngModel)]="userData.confirm_password" id="ds__confirm_pass" required/>
									<div class="field-error" *ngIf = "confirm_password['errors']">
										<p class="field-error" *ngIf = "confirm_password['errors']['required'] && isFormSubmit">{{'error.confirm_password.required' | translate}} </p>
										<p class="field-error" *ngIf = "confirm_password['errors']['minlength'] && isFormSubmit">{{'error.confirm_password.minLength' | translate}} </p>
										<p class="field-error" *ngIf = "confirm_password['errors']['maxlength'] && isFormSubmit">{{'error.confirm_password.maxLength' | translate}} </p>
									 </div> 
								</div>
							</div>
							</div>							
							<div class="ds__tab__button-wrap text-center clearfix">
								<!--<a href="javascript:void(0); ">&lt;&lt; Back</a>-->
								<button class="ds__btn" (click)=onSubmit(profileForm.valid);>
									{{'siteLabels.save'| translate}}
								</button>
							</div>
							<ngx-flash-messages></ngx-flash-messages>
						</form>
					</div>			
				</div>
			</div>
			</div>
		</div>
		<!--Content Area End-->