
		
	<a class="btn blue-btn hvr-wobble-horizontal" href="#" id="back-to-top" style="display: inline-block"  title="Back to top">&nbsp;</a>
	<div class="container">
		<div class="footer-menu clearfix">
			<div class="nav-link help">
				<h5>HOW CAN WE HELP?</h5>
				<ul>
					<li><a href="#!">Customer Service</a></li>
					<li><a href="#!">Track My Order</a></li>
					<li><a href="#!">Customer Services Twitter</a></li>
					<li><a href="#!">Returns</a></li>
					<li><a href="#!">Size Guide</a></li>
					<li><a href="#!">FAQs</a></li>
				</ul>
			</div>
			<div class="nav-link information">
				<h5>INFORMATION</h5>
				<ul>
					<li><a href="#!">Shipping Information</a></li>
					<li><a href="#!">Newsletter</a></li>
					<li><a href="#!">T &amp; C's</a></li>
					<li><a href="#!">Privacy Policy</a></li>
					<li><a href="#!">About Superklick</a></li>
				</ul>
			</div>
			<div class="nav-link services">
				<h5>Customer service</h5>
				<ul>
					<li><a href="#!">Returns Policy</a></li>
					<li><a href="#!">Product Recalls</a></li>
					<li><a href="#!">Tax Exempt Program</a></li>
					<li><a href="#!">Contact Us</a></li>
					<li><a href="#!">Feedback</a></li>
					<li><a href="#!">Store Pickup</a></li>
				</ul>
			</div>
			<div class="get-offer">
				<h5>GET exclusive offers &amp; updates</h5>
				<form class="clearfix" action="" method="post">
					<input type="text" placeholder="ENTER EMAIL ADDRESS"/>
					<button class="btn">SIGN UP</button>
				</form>
				<ul class="social-link clearfix">
					<li><a href="#!"><img src="assets/images/facebook.png" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/twitter.png" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/youtube.png" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/insta.png" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/pinterest.png" alt="" /></a></li>
				</ul>
			</div>
		</div>
		<div class="partners clearfix">
			<div class="wraps cards">
				<ul class="clearfix">
					<li><a href="#!"><img src="assets/images/card1.jpg" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/card3.jpg" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/card4.jpg" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/card5.jpg" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/card6.jpg" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/card7.jpg" alt="" /></a></li>
				</ul>
			</div>
			<div class="wraps copyrt">Copyright  2005-2018 | Superklick. All Rights Reserved. Registered in England &amp; Wales No. 8211042 | VAT No. 144639793 </div>
			<div class="wraps verified">
				<ul class="clearfix">
					<li><a href="#!"><img src="assets/images/verify1.jpg" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/verify2.jpg" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/verify3.jpg" alt="" /></a></li>
					<li><a href="#!"><img src="assets/images/verify4.jpg" alt="" /></a></li>
				</ul>
			</div>
		</div>
	</div>
			
