<!--sassssssssss{{testhtml}}
<h1 [innerHTML] = "testhtml" > </h1>-->
<div id="wrapper">
        <header></header>
        <!-- <bread-crumb *ngIf = "isBreadCrumbEnable" [breadCrumbMenuData] = "breadCrumbMenuData" ></bread-crumb> -->
     <!--<loader> </loader>-->
     <router-outlet  (activate)="changeOfRoutes($event)"></router-outlet>
      <footer class="footer"></footer>
      <!-- <div id = "login" login> </div>
      <div id = "register" register> </div> -->
      <model-alert> </model-alert>
      
      <!-- <div id = "forget" forget> </div> -->
      
     
     </div>
     
     
     <!--<model-alert></model-alert>-->